
<div class="container">
    <div class="jumbotron">
      
      <div class="row">
        <div class="col-sm-7 col-md-7">
          <div class="row">
            <div class="col-12" id="header-div">
              <h1>Pomyślnie<br>wylogowano</h1>
            </div>
          </div>
          <div class="row" id="button-row">
            <div class="col-12">
              <a routerLink="/dashboard" routerLinkActive="active" class="btn btn-primary btn-lg active align-self-end" role="button">Wróć</a>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3">
          <img id="cross-img" src="../../assets/other-images/1200px-German_Cross-transparent.svg.png" alt="Błąd zdjęcia">
        </div>
      </div>
    </div>
  </div>