#header-div {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#fieldset-registration {
    text-align: center;
}

#sign-in-btn {
    margin-top: 15px;
}

#cross-img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

